In [1]:
# 1)create a simple Data Frame in Pandas with the following data?
#       i)Name ii) age iii) city

import pandas as pd

data = {
    'Name': ['Dr.House', 'Puja','Camron'],
    'Age': [40, 30, 24],
    'City':['BBSR','Puri','Delhi']
}

df = pd.DataFrame(data)
print(f"Original DataFrame:\n{df}\n")

Original DataFrame:
       Name  Age   City
0  Dr.House   40   BBSR
1      Puja   30   Puri
2    Camron   24  Delhi

In [2]:
# 2) select only the rows from a Pandas Data Frame where the 'Age' is greater than 30?

filtered_df = df[df['Age'] > 30]
print(f"Rows with Age > 30:\n{filtered_df}\n")

Rows with Age > 30:
       Name  Age  City
0  Dr.House   40  BBSR

In [3]:
#  3) sort the Data Frame by the 'Age' column in ascending order?

sorted_df = df.sort_values(by='Age')
print(f"DataFrame sorted by Age:\n{sorted_df}\n")

DataFrame sorted by Age:
       Name  Age   City
2    Camron   24  Delhi
1      Puja   30   Puri
0  Dr.House   40   BBSR

In [4]:
# 4) handle missing values (NaN) in a Pandas Data Frame

# Add a NaN value
df_with_nan = df.copy()
df_with_nan.loc[1, 'City'] = None

# Fill NaN with a string
df_filled = df_with_nan.fillna('Unknown')
print(f"DataFrame with NaN filled:\n{df_filled}\n")

# Drop rows with any NaN values
df_dropped = df_with_nan.dropna()
print(f"DataFrame after dropping NaN rows:\n{df_dropped}\n")

DataFrame with NaN filled:
       Name  Age     City
0  Dr.House   40     BBSR
1      Puja   30  Unknown
2    Camron   24    Delhi

DataFrame after dropping NaN rows:
       Name  Age   City
0  Dr.House   40   BBSR
2    Camron   24  Delhi

In [5]:
# 5) drop the 'City' column from the Data Frame?
df_no_city = df.drop(columns=['City'])
print(df_no_city)

       Name  Age
0  Dr.House   40
1      Puja   30
2    Camron   24

In [6]:
# 6) merge two Pandas Data Frames based on a common column?
print(df_no_city)

df2 = pd.DataFrame({
    'Name': ['Dr.House', 'Puja','Camron'],
    'Salary': [50000, 60000, 55000]
})
print(" ")
merged_df = pd.merge(df, df2, on='Name', how='inner')
print(f"Merged DataFrame:\n{merged_df}\n")

       Name  Age
0  Dr.House   40
1      Puja   30
2    Camron   24

Merged DataFrame:
       Name  Age   City  Salary
0  Dr.House   40   BBSR   50000
1      Puja   30   Puri   60000
2    Camron   24  Delhi   55000

In [7]:
# 7) add a new column to an existing Pandas Data Frame?
df['Country'] = ['India', 'India', 'India']
df['Salary'] = [50000, 60000, 55000]
df['REGD No.'] = [ 37, 78, 12]
print(f"DataFrame after adding 'Country & Regd. No.' column:\n{df}\n")

DataFrame after adding 'Country & Regd. No.' column:
       Name  Age   City Country  Salary  REGD No.
0  Dr.House   40   BBSR   India   50000        37
1      Puja   30   Puri   India   60000        78
2    Camron   24  Delhi   India   55000        12

In [8]:
# 8) rename a column in a Pandas Data Frame?
df_renamed = df.rename(columns={'Age': 'Years'})
print(f"DataFrame after renaming 'Age' to 'Years':\n{df_renamed}\n")

DataFrame after renaming 'Age' to 'Years':
       Name  Years   City Country  Salary  REGD No.
0  Dr.House     40   BBSR   India   50000        37
1      Puja     30   Puri   India   60000        78
2    Camron     24  Delhi   India   55000        12

In [9]:
# 9) How do you get the summary statistics (e.g. mean, median, count) of a Pandas Data Frame?
summary_stats = df.describe()
print(f"Summary statistics of the DataFrame:\n{summary_stats}\n")

Summary statistics of the DataFrame:
             Age   Salary   REGD No.
count   3.000000      3.0   3.000000
mean   31.333333  55000.0  42.333333
std     8.082904   5000.0  33.321665
min    24.000000  50000.0  12.000000
25%    27.000000  52500.0  24.500000
50%    30.000000  55000.0  37.000000
75%    35.000000  57500.0  57.500000
max    40.000000  60000.0  78.000000

In [10]:
# 10) How do you check if a Pandas Data Frame is empty?

is_empty = df.empty
print(f"Is the DataFrame empty? {is_empty}")

# You can also check an empty DataFrame
print(f"Is the empty DataFrame empty? {df_dropped.empty}")

Is the DataFrame empty? False
Is the empty DataFrame empty? False